/* cat_general */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 1rem;
}

body {
  font-family: "Lexend Deca", sans-serif;
  display: flex; /* lo convierte en flex container */
  justify-content: center;
  align-items: center;
}

/* cat_principal */
.principal {
  display: flex;
  width: 40%;
  min-width: 500px;
  height: 55%; 
  max-height:500px;
  min-height: 400px;
  margin: 0 auto;
}

/* cat_columna */
.columna {
  color: white;
  padding: 1.5rem;
  width: 160px;

  overflow: hidden;
  transition: width 0.7s ease-in-out;
  
  position: relative; /* seteo como relative para poder acomodar los hijos dentro */
}

.columna.activa {
  /* elementos con multiples clases - se ponen seguidas */
  width: 50%; /* con JS toggleamos entre activa y no activa */
}

.columna:first-of-type {
  border-radius: 0.5rem 0 0 0.5rem;
}

.columna:last-of-type {
  border-radius: 0 0.5rem 0.5rem 0;
}

.sedans {
  background-color: #d2702f;
}

.suvs {
  background-color: #115458;
}

.luxury {
  background-color: #09332f;
}

.titulo {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
}

.texto {
  font-size: 14px;
  margin-bottom: 3rem;
}

.enlace {
  text-decoration: none;
  background-color: white;
  border-radius: 1.5rem;
  padding: 0.35rem 1rem;
  font-size: 10px;
  font-weight:bold;
  position: absolute; /* acomodo respecto del padre (que tiene "relative") */
  bottom: 1.8rem; /* tanta distancia desde el fondo */
}

.sedans .enlace {
  color: #d2702f;
}

.suvs .enlace {
  color: #115458;
}

.luxury .enlace {
  color: #09332f;
}
